{{ $parts := slice .Site.Params.docsRepo }}

{{ if (eq .Site.Params.repoHost "GitHub") }}
  {{ $parts = $parts | append "blob" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "Gitea") }}
  {{ $parts = $parts | append "_edit" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "GitLab") }}
  {{ $parts = $parts | append "-/blob" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "Bitbucket") }}
  {{ $parts = $parts | append "src" .Site.Params.docsRepoBranch }}
{{ else if (eq .Site.Params.repoHost "BitbucketServer") }}
  {{ $parts = $parts | append "browse" .Site.Params.docsRepoBranch }}
{{ end }}

{{ if isset .Site.Params "docsreposubpath" }}
  {{ if not (eq .Site.Params.docsRepoSubPath "") }}
    {{ $parts = $parts | append .Site.Params.docsRepoSubPath }}
  {{ end }}
{{ end }}

{{ $filePath := replace .File.Path "\\" "/" }}

{{ $parts = $parts | append "content" .Lang $filePath }}

{{ $url := delimit $parts "/" }}

<div class="edit-page">
  <a href="{{ $url }}">
    <i data-feather="edit-2" width="16" height="16"></i>
    Edit this page on {{ .Site.Params.repoHost }}
  </a>
</div>
